img { width:100%;height:auto; }

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

#AboveTheFold {
  background:url('../Material/pult.jpg') no-repeat -25px -300px;
  background-size: cover;
  position:fixed;
  top:0;
  width:125%;
  z-index:-10;
  height:100vh;

  @media (min-width:1920px) {
    width:105%;
  }
  @media (max-width:992px) {
    width:250%;
  }
  @media (max-width:600px) {
    width:400%;
  }

  #gradient {
    width: 100%;
    height: 110vh;
    padding: 0px;
    margin: -20px 0;
    opacity: 0.3;
  }

}

.user-view {
  span {
    text-shadow: 1px 1px 4px #000;
  }
}

main {
  width:100%;
  height:auto;
  background-color:#fff;
  position:relative;
  z-index:0;
  margin: 60vh 0 0 0;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.8), 0 6px 30px 5px rgba(0,0,0,0.6), 0 8px 10px -5px rgba(0,0,0,1);

  section {
    width:100%;
    min-height:20vh;
  }

}
