img { width:100%;height:auto; }

section {
  width:100%;
  min-height:20vh;
}

#AboveTheFold{
  background: url('../Material/pult.jpg') no-repeat 50% 50%;
  background-size: cover;
  position:relative;
  height:40vh;

  .logo {
    position:relative;
    img {
      position:absolute;
      top:50px;
      border-radius: 50%;
    }
  }

  .About {
    position:absolute;
    bottom:0;
    padding: 16px 44px;
  }
}
